@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.0125rem;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-behavior: smooth;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 86.25rem;
  padding-inline: 0.625rem;
  margin: 0 auto;
}

.btn-link {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1.375rem;
  text-align: center;
  border: 0.125rem solid #e1b168;
  padding: 1.25rem 3.5625rem;
  color: #e1b168;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover) {
  .btn-link:hover {
    background-color: #e1b168;
    color: #292e36;
  }
}
.btn-link--yellow {
  background-color: #e1b168;
  color: #292e36;
}

.logo {
  width: 23.625rem;
  height: 11.75rem;
}
.logo__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 378/188;
}

.header {
  background-color: #292e36;
}
.header__top {
  padding-block: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem 1.875rem;
}
.header__phone-link {
  color: #fff;
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-block: 1.25rem;
  color: #fff;
  text-transform: capitalize;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem 3.75rem;
}
.navigation__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover) {
  .navigation__link:hover {
    color: #e1b168;
  }
}

.social {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
.social__link {
  width: 1.5rem;
  height: 1.5rem;
}
@media (any-hover) {
  .social__link:hover .social__icon {
    -webkit-filter: invert(73%) sepia(15%) saturate(1104%) hue-rotate(357deg) brightness(96%) contrast(94%);
            filter: invert(73%) sepia(15%) saturate(1104%) hue-rotate(357deg) brightness(96%) contrast(94%);
  }
}
.social__icon {
  width: 100%;
  height: 100%;
  -webkit-filter: invert(100%) sepia(6%) saturate(791%) hue-rotate(165deg) brightness(119%) contrast(100%);
          filter: invert(100%) sepia(6%) saturate(791%) hue-rotate(165deg) brightness(119%) contrast(100%);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.hero {
  -webkit-padding-before: 0.625rem;
          padding-block-start: 0.625rem;
  background-color: #292e36;
  overflow: hidden;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5.5625rem 0.3125rem;
}
@media (max-width: 767.98px) {
  .hero__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__content {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-before: 2.125rem;
          padding-block-start: 2.125rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48.1617647059%;
          flex: 1 1 48.1617647059%;
}
@media (max-width: 767.98px) {
  .hero__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__content-body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38.5rem;
          flex: 0 1 38.5rem;
}
.hero__content-body > *:not(:last-child) {
  margin-bottom: 1.625rem;
}
.hero__title {
  font-family: "Cormorant Infant", serif;
  line-height: 1.1;
}
@media (min-width: 86.25em) {
  .hero__title {
    font-size: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 86.25em) {
  @supports (font-size: clamp( 3.125rem , 2.1816037736rem  +  4.7169811321vw , 6.25rem )) {
    .hero__title {
      font-size: clamp( 3.125rem , 2.1816037736rem  +  4.7169811321vw , 6.25rem );
    }
  }
  @supports not (font-size: clamp( 3.125rem , 2.1816037736rem  +  4.7169811321vw , 6.25rem )) {
    .hero__title {
      font-size: calc(3.125rem + 3.125 * (100vw - 20rem) / 66.25);
    }
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 3.125rem;
  }
}
.hero__text {
  margin-bottom: 2.1875rem;
}
.hero__link {
  text-transform: capitalize;
}
.hero__image-block {
  width: 52.5735294118%;
  aspect-ratio: 715/800;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(4.1958041958%);
      -ms-transform: translateX(4.1958041958%);
          transform: translateX(4.1958041958%);
}
.hero__image-block::after, .hero__image-block::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
}
.hero__image-block::before {
  width: 91.6083916084%;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.hero__image-block::after {
  width: 100%;
  height: 96.25%;
  left: 0;
}
@media (max-width: 86.25rem) {
  .hero__image-block {
    -webkit-transform: translateX(1.3986013986%);
        -ms-transform: translateX(1.3986013986%);
            transform: translateX(1.3986013986%);
  }
}
.hero__img-wrapper {
  width: 91.6083916084%;
  height: 96.25%;
  padding: 1.875rem 1.875rem 0;
  position: relative;
  background-color: #292e36;
  z-index: 2;
}
.hero__img-wrapper::before {
  content: "";
  position: absolute;
  top: 1.625rem;
  right: 0.875rem;
  z-index: 2;
  width: 47.6335877863%;
  height: 40.5194805195%;
  background: url("../img/decor-1.svg") 0 0/contain no-repeat;
}
.hero__image {
  border-radius: 39.125rem 39.125rem 0px 0px;
  width: 100%;
  height: 100%;
  aspect-ratio: 595/740;
  -o-object-fit: cover;
     object-fit: cover;
}