.btn-link {
    flex-shrink: 0;
    font-size: toRem(22);
    text-align: center;
    border: toRem(2) solid $yellowColor;
    padding: toRem(20) toRem(57);
    color: $yellowColor;
    transition: all 0.5s;

    &--yellow {
        background-color: $yellowColor;
        color: $darkColor;
    }
    @media (any-hover) {
        &:hover {
            background-color: $yellowColor;
            color: $darkColor;
        }
        &--yellow:hover {
            color: $yellowColor;
            background-color: transparent;
        }
    }
}
.logo {
    // width: toPercent(378, $maxWidthContainer);
    flex: 0 1 toPercent(378, $maxWidthContainer);
    flex-basis: toPercent(378, $maxWidthContainer);
    min-width: toRem(192);
    aspect-ratio: 278 / 188;

    overflow: hidden;
    background: url("../img/logo.svg") center / cover no-repeat;
    @media (max-width: $tablet) {
        flex-basis: toRem(192);
    }
}

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: toRem(8);

    // .section-header__lables

    &__lables {
        color: $darkColor;
        font-size: toRem(15);
        letter-spacing: toRem(3);
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: toRem(5);
        }
    }

    // .section-header__label

    &__label {
        padding: toRem(4) toRem(0.5) 0;
        text-align: center;
        vertical-align: middle;
        border-top: toRem(1) solid $yellowColor;
        border-bottom: toRem(1) solid $yellowColor;
    }

    // .section-header__title

    &__title {
        font-family: "Cormorant Infant", serif;
        color: $darkColor;
        font-size: toRem(40);
        line-height: 1.4;
        text-transform: capitalize;
    }

    // .section-header__text

    &__text {
    }
}
.burger-btn {
    width: toRem(50);
    height: toRem(50);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    // transition: justify-content 0.8s 0.5s;

    &::before,
    &::after,
    & div {
        width: 100%;
        height: toRem(2);
        background-color: $yellowColor;
    }
    &::before,
    &::after {
        content: "";
        // transition: transform 0.5s;
        transition:
            transform 0.8s,
            // position 0.8s,
            justify-content 0.2;
    }
    & div {
        transition: width 0.2s;
    }

    &--active {
        justify-content: center;
        & div {
            width: 0;
        }
        &.burger-btn::before,
        &.burger-btn::after {
            position: absolute;
        }
        &.burger-btn::before {
            transform: rotate(-45deg);
        }
        &.burger-btn::after {
            transform: rotate(45deg);
        }
    }
}
