.btn-link {
    flex-shrink: 0;
    font-size: toRem(22);
    text-align: center;
    border: toRem(2) solid $yellowColor;
    padding: toRem(20) toRem(57);
    color: $yellowColor;
    transition: all 0.5s;

    &--yellow {
        background-color: $yellowColor;
        color: $darkColor;
    }
    @media (any-hover) {
        &:hover {
            background-color: $yellowColor;
            color: $darkColor;
        }
        &--yellow:hover {
            color: $yellowColor;
            background-color: transparent;
        }
    }
    @media (max-width: $tablet) {
        padding: toRem(10) toRem(30);
    }
    @media (max-width: $smallMobile) {
        width: 100%;
    }
}
.logo {
    flex: 0 1 toPercent(378, $maxWidthContainer);
    min-width: toRem(252);
    overflow: hidden;
    //logo__img
    &__img {
        width: 100%;
        height: 100%;
        aspect-ratio: 378 / 188;
        object-fit: cover;
    }
    @media (max-width: $tablet) {
        max-width: toRem(100);
        min-width: toRem(100);
        height: toRem(100);
        margin-right: auto;
    }
    @media (max-width: $smallMobile) {
        max-width: toRem(60);
        min-width: toRem(60);
        height: toRem(60);
    }
}

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: toRem(8);
    &--align-start {
        align-items: flex-start;
        & .section-header__text {
            text-align: left;
        }
    }
    // .section-header__lables

    &__lables {
        color: $darkColor;
        font-size: toRem(15);
        letter-spacing: toRem(3);
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: toRem(5);
        }
    }

    // .section-header__label

    &__label {
        padding: toRem(4) toRem(0.5) 0;
        text-align: center;
        vertical-align: middle;
        border-top: toRem(1) solid $yellowColor;
        border-bottom: toRem(1) solid $yellowColor;
    }

    // .section-header__title

    &__title {
        font-family: "Cormorant Infant", serif;
        color: $darkColor;
        font-size: toRem(40);
        line-height: 1.4;
        text-transform: capitalize;
    }

    // .section-header__text

    &__text {
        text-align: center;
        flex-grow: 1;
    }
}
.burger-btn {
    width: toRem(40);
    height: toRem(30);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: justify-content 0.1s 1s;
    order: 2;
    &::before,
    &::after,
    & div {
        width: 100%;
        height: toRem(2);
        background-color: $yellowColor;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        transition:
            transform 0.3s,
            top 0.2s 0.2s,
            bottom 0.2s 0.2s;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    & div {
        transition: width 0.2s 0.3s;
    }

    &--active {
        justify-content: center;
        & div {
            width: 0;
            transition: width 0.2s;
        }
        &.burger-btn::before,
        &.burger-btn::after {
            transition: transform 0.5s;
        }
        &.burger-btn::before {
            transform: rotate(-45deg);
            top: calc(50% - 0.0625rem);
        }
        &.burger-btn::after {
            transform: rotate(45deg);
            bottom: calc(50% - 0.0625rem);
        }
    }
    @media (max-width: $tablet) {
        display: flex;
    }
}
.review-card {
    padding-inline: toRem(40);
    background-color: #343942;
    @media (max-width: $mobile) {
        padding-inline: toRem(15);
    }

    // .review-card__header

    &__header {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(30);
        @media (max-width: $mobile) {
            // flex-direction: column;
            gap: toRem(15);
        }
        @media (max-width: $smallMobile) {
            flex-direction: column;
        }
    }

    // .review-card__image-block

    &__image-block {
        width: toRem(113);
        height: toRem(113);
        border-radius: 50%;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: toRem(30);
            height: toRem(30);
            border-radius: 50%;
            border: toRem(2) solid #292e36;
            background:
                url("../img/icons/backtick.svg") center/ 50% 40% no-repeat,
                $yellowColor;
        }
    }

    // .review-card__image

    &__image {
    }

    // .review-card__reviewer-data

    &__reviewer-data {
        text-transform: capitalize;
    }

    // .review-card__reviewer-name

    &__reviewer-name {
        font-family: "Cormorant Infant", serif;
        font-size: toRem(30);
        line-height: 1.4;
    }

    // .review-card__reviewer-city

    &__reviewer-city {
        color: $yellowColor;
    }

    // .review-card__review

    &__review {
        font-family: "Cormorant Infant", serif;
        font-size: toRem(24);
        line-height: 1.563;
        &:not(:first-child)::before,
        &:not(:last-child)::after {
            content: "";
            width: 100%;
            height: toRem(1);
            background-color: #797e89;
            margin-block: toRem(31) toRem(33);
        }
    }
}
