.btn-link {
    flex-shrink: 0;
    font-size: toRem(22);
    text-align: center;
    border: toRem(2) solid $yellowColor;
    padding: toRem(20) toRem(57);
    color: $yellowColor;
    transition: all 0.3s;
    @media (any-hover) {
        &:hover {
            background-color: $yellowColor;
            color: $darkColor;
        }
    }

    &--yellow {
        background-color: $yellowColor;
        color: $darkColor;
    }
}
.logo {
    // width: toPercent(378, $maxWidthContainer);
    flex-basis: toRem(378);
    // min-width: toRem(192);
    height: toRem(188);
    flex-shrink: 1;
    overflow: hidden;
    background: url("../img/logo.svg") center / cover no-repeat;
    @media (max-width: $tablet) {
        flex-basis: toRem(192);
    }
}
