.footer {
    background-color: $darkColor;
    color: #fff;
    // .footer__container

    &__container {
        @include adaptiveValue("padding-block-start", 129, 30);
    }

    // .footer__top

    &__top {
        padding-block-end: toRem(11);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $mobile) {
            justify-content: center;
        }
        .social {
            margin: 0;
            align-self: flex-end;
        }
        & > span {
            font-size: toRem(22);
            margin-bottom: toRem(45);
            align-self: flex-end;
            @media (max-width: $tablet) {
                display: none;
            }
        }
        .logo {
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }

    // .footer__main

    &__main {
        min-height: toRem(246);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: toRem(20);
        padding-block-end: toRem(9);
        @media (max-width: $tablet) {
            justify-content: center;
            flex-wrap: wrap-reverse;
            column-gap: toRem(60);
        }
        @media (max-width: $mobile) {
            & .footer__contacts,
            & .footer__schedule {
                flex-grow: 0.3;
            }
        }
    }

    // .footer__contacts

    &__contacts {
        flex-shrink: 0;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        row-gap: toRem(32);
        padding-block: toRem(8) toRem(15);
    }

    // .footer__contacts-header

    &__contacts-header .section-header__label,
    &__schedule-header .section-header__label {
        color: #fff;
    }

    // .footer__address

    &__address {
        display: flex;
        flex-direction: column;
    }

    // .footer__address-link

    &__address-link:not([class$="--map"]) {
        color: $yellowColor;
    }
    &__address-link {
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color 0.3s;

        @media (any-hover) {
            &:hover {
                text-decoration-color: inherit;
                transition: text-decoration-color 0.5s;
            }
        }
    }
    // .footer__address-link--map

    &__address-link--map {
    }

    // .footer__suscription

    &__suscription {
        flex: 0 1 toRem(664);
        min-width: toRem(280);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: toRem(25);
        @media (max-width: $tablet) {
            order: 1;
        }
    }

    // .footer__suscription-title

    &__suscription-title {
        width: toPercent(303, 664);
        text-align: center;
        @media (max-width: $tablet) {
            width: 80%;
        }
    }

    // .footer__schedule

    &__schedule {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: toRem(30);
        padding-block: toRem(8) toRem(5);
    }

    // .footer__schedule-header

    &__schedule-header {
    }

    // .footer__bottom

    &__bottom {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: toRem(25) toRem(18);
        gap: toRem(20);
        border-top: toRem(1) solid #575b62;
        @media (max-width: $tablet) {
            padding-inline: toRem(10);
        }

        [class$="__link"] {
            color: $yellowColor;
            text-transform: capitalize;
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: text-decoration-color 0.3s;

            @media (any-hover) {
                &:hover {
                    text-decoration-color: $yellowColor;
                    transition: text-decoration-color 0.5s;
                }
            }
        }
        .guide {
            flex-grow: 1;
            @media (max-width: $tablet) {
                flex-grow: 0;
            }
        }
    }
}

.footer .social {
    padding: toRem(16) toRem(10);
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    gap: 0 toRem(20);
    @media (max-width: $mobile) {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }

    // .social__item

    &__item:nth-child(1) {
        grid-column: 4;
        grid-row: 1;
        margin-bottom: toRem(13);
        @media (max-width: $tablet) {
            margin-bottom: 0;
        }
        @media (max-width: $mobile) {
            grid-row: 1;
        }
    }
    &__item:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }
    &__item:nth-child(3) {
        grid-column: 2;
        grid-row: 3;
        margin-bottom: toRem(9);
        @media (max-width: $tablet) {
            margin-bottom: 0;
        }
        @media (max-width: $mobile) {
            grid-row: 1;
        }
    }
    &__item:nth-child(4) {
        grid-column: 3;
        grid-row: 4;
        @media (max-width: $mobile) {
            grid-row: 2;
        }
    }

    // .social__link

    &__link {
    }

    // .social__icon

    &__icon {
    }
}

.subscribe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // .subscribe__input

    &__input {
        flex-grow: 1;
        border: 1px solid #858585;
        padding: toRem(16) toRem(24) toRem(18);
    }
    //.subscribe__btn
    &__btn {
        @extend .btn-link;
        border-color: transparent;
        background-color: #fff;
        color: #000;
        padding: toRem(18) toRem(40);
        @media (max-width: $tablet) {
            padding: toRem(10) toRem(30);
        }
    }
}
.working-hours {
    // .working-hours__item

    &__item {
        text-align: right;
        &:not(:last-child) {
            margin-bottom: toRem(5);
        }
    }

    // .working-hours__day

    &__day {
        color: $yellowColor;
    }
}
.copyrights {
    // .copyrights__link

    &__link {
    }
}
.guide {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: toRem(20);
    @media (max-width: $tablet) {
        gap: toRem(10);
    }
    // .guide__item

    &__item {
    }

    // .guide__link

    &__link {
    }
}
