.hero {
    padding-block-start: toRem(10);
    background-color: $darkColor;
    overflow: hidden;

    // .hero__container

    &__container {
        display: flex;
        justify-content: space-between;

        gap: toRem(89) toRem(5);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    // .hero__content

    &__content {
        color: #fff;
        display: flex;
        align-items: center;
        padding-block-start: toRem(34);
        flex: 1 1 toPercent(655, $maxWidthContainer);
        @media (max-width: $mobile) {
            justify-content: center;
        }
    }
    // hero__content-body
    &__content-body {
        flex: 0 1 toRem(616);
        & > *:not(:last-child) {
            margin-bottom: toRem(26);
        }
    }

    // .hero__title

    &__title {
        font-family: "Cormorant Infant", serif;
        @include adaptiveValue("font-size", 100, 50);
        line-height: 1.1;
    }

    // .hero__text

    &__text {
        margin-bottom: toRem(35);
    }

    // .hero__link

    &__link {
        text-transform: capitalize;
    }

    // .hero__image-block

    &__image-block {
        width: toPercent(715, $maxWidthContainer);
        aspect-ratio: 715 / 800;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        transform: translateX(toPercent(30, 715));

        &::after,
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.1);
        }
        &::before {
            width: toPercent(655, 715);
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
        &::after {
            width: 100%;
            height: toPercent(770, 800);
            left: 0;
        }
        @media (max-width: toRem(1380)) {
            transform: translateX(toPercent(10, 715));
        }
    }

    // .hero__img-wrapper

    &__img-wrapper {
        width: toPercent(655, 715);
        height: toPercent(770, 800);

        padding: toRem(30) toRem(30) 0;
        position: relative;
        background-color: $darkColor;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            top: toRem(26);
            right: toRem(14);
            z-index: 2;
            width: toPercent(312, 655);
            height: toPercent(312, 770);
            background: url("../img/decor-1.svg") 0 0 / contain no-repeat;
        }
    }

    // .hero__image

    &__image {
        border-radius: toRem(626) toRem(626) 0px 0px;
        width: 100%;

        height: 100%;
        aspect-ratio: 595 /740;
        object-fit: cover;
    }
}
.contacts {
    // .contacts__container

    &__container {
        padding-block: toRem(100) toRem(60);
    }

    // .contacts__list

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: toRem(25) toRem(5);
    }

    // .contacts__item

    &__item {
        flex: 0 1 toRem(443);
        min-width: max-content;
        &:has(.contacts__link:hover) {
            .contacts__link-icon-block {
                background-color: $yellowColor;
            }
            .contacts__item-text {
                text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
            }
        }
    }

    // .contacts__link

    &__link {
        display: flex;
        align-items: center;
        column-gap: toRem(20);
    }

    //__link-icon-block
    &__link-icon-block {
        flex-shrink: 0;
        width: toRem(83);
        height: toRem(83);
        border-radius: 50%;
        background-color: $darkColor;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
    }

    // .contacts__icon

    &__icon {
        max-width: 100%;
        max-height: 100%;
    }

    // .contacts__item-text

    &__item-text {
        padding-inline-end: toRem(15);
        transition: all 0.5s;
    }

    // .contacts__item-title

    &__item-title {
        font-family: "Cormorant Infant", serif;
        font-size: toRem(30);
        line-height: 1.3;
    }
}
