.hero {
    padding-block-start: toRem(10);
    background-color: $darkColor;
    overflow: hidden;

    // .hero__container

    &__container {
        display: flex;
        justify-content: space-between;

        gap: toRem(32) toRem(5);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    // .hero__content

    &__content {
        color: #fff;
        display: flex;
        align-items: center;
        padding-block-start: toRem(34);
        flex: 1 1 toPercent(655, $maxWidthContainer);
        @media (max-width: $mobile) {
            justify-content: center;
        }
    }
    // hero__content-body
    &__content-body {
        flex: 0 1 toRem(616);
        & > *:not(:last-child) {
            margin-bottom: toRem(26);
        }
    }

    // .hero__title

    &__title {
        font-family: "Cormorant Infant", serif;
        @include adaptiveValue("font-size", 100, 50);
        line-height: 1.1;
    }

    // .hero__text

    &__text {
        margin-bottom: toRem(35);
    }

    // .hero__link

    &__link {
        text-transform: capitalize;
    }

    // .hero__image-block

    &__image-block {
        width: toPercent(715, $maxWidthContainer);
        min-width: toRem(280);
        aspect-ratio: 715 / 800;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        transform: translateX(toPercent(30, 715));

        &::after,
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.1);
        }
        &::before {
            width: toPercent(655, 715);
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
        &::after {
            width: 100%;
            height: toPercent(770, 800);
            left: 0;
        }
        @media (max-width: toRem(1380)) {
            transform: translateX(toPercent(10, 715));
        }
    }

    // .hero__img-wrapper

    &__img-wrapper {
        width: toPercent(655, 715);
        height: toPercent(770, 800);

        padding: toRem(30) toRem(30) 0;
        position: relative;
        background-color: $darkColor;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            top: toRem(26);
            right: toRem(14);
            z-index: 2;
            width: toPercent(312, 655);
            height: toPercent(312, 770);
            background: url("../img/decor-1.svg") 0 0 / contain no-repeat;
        }
    }

    // .hero__image

    &__image {
        border-radius: toRem(626) toRem(626) 0px 0px;
        width: 100%;

        height: 100%;
        aspect-ratio: 595 /740;
        object-fit: cover;
    }
}
.contacts {
    // .contacts__container

    &__container {
        padding-block: toRem(100) toRem(60);
    }

    // .contacts__list

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: toRem(25) toRem(5);
    }

    // .contacts__item

    &__item {
        flex-shrink: 1;
        width: toPercent(443, $maxWidthContainer);
        min-width: fit-content;
        display: flex;
        column-gap: toRem(20);
        padding-inline-end: toRem(15);
        @media (max-width: $mobile) {
            flex-direction: column;
            flex-grow: 1;
        }
    }

    // .contacts__link

    &__link {
        transition: color 0.3s;
        @media (any-hover) {
            &:hover {
                color: $yellowColor;
            }
        }
    }

    //__link-icon-block
    &__link-icon-block {
        align-self: center;
        flex-shrink: 0;
        @include adaptiveValue("width", 83, 50);
        @include adaptiveValue("height", 83, 50);
        border-radius: 50%;
        background-color: $darkColor;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $mobile) {
            align-self: auto;
        }
    }

    // .contacts__icon

    &__icon {
        max-width: 100%;
        max-height: 100%;
        aspect-ratio: 83 / 83;
        object-fit: contain;
    }

    // .contacts__item-text

    &__item-text {
    }

    // .contacts__item-title

    &__item-title {
        font-family: "Cormorant Infant", serif;
        font-size: toRem(30);
        line-height: 1.3;
    }
}

.story {
    padding-block: toRem(60) toRem(100);
    background-color: #fff8f5;
    position: relative;
    // .story__container

    &__container {
        display: flex;
        gap: toRem(45);
    }

    // .story__image-block

    &__image-block {
        flex: 1 1 toPercent(743, $maxWidthContainer);
        padding-block: toRem(24);
        @media (max-width: $tablet) {
            padding: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(330deg, rgba(41, 46, 54, 0.4) 31.06%, $darkColor 108.93%);
            }
        }
    }

    // .story__image

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 743 /519;
        object-fit: cover;
    }

    // .story__content

    &__content {
        flex: 1 1 toPercent(572, $maxWidthContainer);
        padding: toRem(20) toRem(13) toRem(20) toRem(13);
        position: relative;
        z-index: 0;
    }

    // .story__content-body

    &__content-body {
        display: flex;
        flex-direction: column;
        row-gap: toRem(20);
        @media (max-width: $tablet) {
            & *,
            & .sing > * {
                color: #fff;
            }
            & .sing__image {
                background-color: #fff;
            }
        }
    }

    // .section-header

    & .section-header {
        align-items: flex-start;
        &:not(:last-child) {
            margin-bottom: toRem(5);
        }
    }

    // .story__periods

    &__periods {
    }

    // .story__sign

    &__sign {
    }
}

.periods {
    display: flex;
    gap: toRem(24);
    @media (max-width: $mobile) {
        flex-wrap: wrap;
    }

    // .periods__item

    &__item {
        flex: 1 1 toPercent(274, 572);
        min-width: toRem(220);
        & > *:not(:last-child) {
            margin-bottom: toRem(15);
        }
    }

    // .periods__header

    &__header {
        @extend .section-header__title;
        text-align: start;
    }

    // .periods__text

    &__text {
    }
}
.sing {
    width: 100%;
    & > *:not(:last-child) {
        margin-bottom: toRem(20);
    }

    // .sing__name

    &__name {
        text-transform: uppercase;
    }

    // .sing__image

    &__image {
        width: toPercent(200, 572);
        aspect-ratio: 200 / 111;
        mask: url("../img/sign.svg") center / contain no-repeat;
        background-color: $darkColor;
    }
}

// menu-------------------------------
.menu {
    @include adaptiveValue("padding-block", 141, 50);
    // .menu__container

    &__container {
        display: flex;
        gap: toRem(50);
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
    //.menu__preview
    &__preview {
        flex: 0 2 toRem(491);
        min-width: toRem(280);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: toRem(45);
        @media (max-width: $tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            flex-basis: auto;
        }
    }

    // .menu__image-block

    &__image-block {
        width: toPercent(398, 491);
        &:not(:last-child) {
            margin-bottom: toRem(15);
        }
        @media (max-width: $tablet) {
            width: toPercent(230, 491);
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
    //.menu__image
    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 398 / 548;
        object-fit: cover;
        @media (max-width: $tablet) {
            aspect-ratio: 548 / 398;
        }
    }

    // .menu__details

    &__details {
        flex-grow: 1;
        padding-block: toRem(35);
    }

    //menu__details-block

    &__details-block {
        @keyframes showMenu {
            from {
                transform: translateY(-100%);
                opacity: 0;
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
        &[open] {
            .menu-list > li {
                animation: showMenu 0.6s;
            }
        }

        &:not(:last-child) {
            margin-bottom: toRem(15);
        }
    }
    //menu__details-block-title
    &__details-block-title {
        font-family: "Cormorant Infant", serif;
        color: $darkColor;
        font-size: toRem(36);
        line-height: 1.4;
        list-style-type: none;
        overflow: hidden;
        display: flex;
        gap: toRem(15);
        transition: all 0.5s ease;
        @media (any-hover) {
            &:hover {
                color: $yellowColor;
                &::before {
                    border-left-color: $yellowColor;
                }
            }
        }
        &::-webkit-details-marker {
            display: none;
        }
        &::before {
            content: "";
            width: 0;
            height: 0;
            border-top: 0.5rem solid transparent;
            border-bottom: 0.5rem solid transparent;
            border-left: 0.8rem solid $darkColor;
            margin-top: 0.45em;
            margin-left: 0.3em;
            transition: all 0.5s ease;
        }
        .menu__details-block[open] > &::before {
            transform: rotate(90deg);
        }
    }
    .btn-link {
    }
    & .section-header {
        align-items: flex-start;
    }
}

.menu-list {
    overflow: hidden;
    padding-block: toRem(40) toRem(60);

    // .menu-list__item

    &__item:not(:last-child) {
        margin-bottom: toRem(50);
    }
}
.meal {
    // .meal__link

    &__link {
        width: 100%;
        display: flex;
        gap: toRem(20);
        align-items: center;
    }

    // .meal__image-block

    &__image-block {
        @include adaptiveValue("width", 84, 50);
        @include adaptiveValue("height", 84, 50);
        flex-shrink: 0;
        border-radius: 50%;
        background-color: $grayColor;
        @media (max-width: $mobile) {
            display: none;
        }
    }

    // .meal__img

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    // .meal__info

    &__info {
        display: flex;
        flex-grow: 1;
        gap: toRem(10);
    }

    // .meal__details

    &__details {
    }
    // .meal__title

    &__title {
        font-family: "Cormorant Infant", serif;
        font-size: toRem(30);
        line-height: 1.4;
        color: $darkColor;
    }

    // .meal__ingredients

    &__ingredients {
    }

    // .meal__price

    &__price {
        flex: 1 1 auto;
        display: flex;
        align-items: flex-end;
        gap: toRem(10);
        padding-block-end: toRem(13);
        &::before {
            content: "";
            height: toRem(2);
            background-color: #aaaaaa;
            flex: 1 1 auto;
        }
        @extend .meal__title;
    }
}
.testimonial {
    @include adaptiveValue("padding-block-start", 141, 50);
    @include adaptiveValue("padding-block-end", 120, 50);
    background-color: $darkColor;
    color: #fff;
    // .testimonial__container

    &__container {
        color: #fff;
        & > *:not(:last-child) {
            margin-bottom: toRem(40);
        }
    }
    & .section-header > * {
        color: #fff;
    }

    // .testimonial__swiper

    &__swiper {
        position: relative;
        & .swiper {
            position: static;
        }
    }
}

.review-card {
    // .review-card__header

    &__header {
    }

    // .review-card__image-block

    &__image-block {
    }

    // .review-card__image

    &__image {
    }

    // .review-card__reviewer-data

    &__reviewer-data {
    }

    // .review-card__reviewer-name

    &__reviewer-name {
    }

    // .review-card__reviewer-city

    &__reviewer-city {
    }

    // .review-card__review

    &__review {
    }
}

//swiper-----------------------------------

.swiper {
    width: 100vw;

    @media (max-width: $mobile) {
        width: 100%;
    }
    .swiper-wrapper {
        padding-block: toRem(40) toRem(44);
        margin-bottom: toRem(30);
    }
    & .swiper-slide {
        width: toRem(544);
        @media (max-width: $mobile) {
            width: toRem(280);
        }
    }
    & .swiper-pagination-bullets.swiper-pagination-horizontal {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    & .swiper-pagination-bullet {
        width: toRem(20);
        height: toRem(20);
        background-color: rgba(255, 255, 255, 0.4);
        & .swiper-pagination-bullet-active {
            background-color: #fff;
        }
    }
}
.picture {
    width: 100%;
    // @include adaptiveValue("height", 600, 300);
    // background: url("../img/lights.png") center / cover no-repeat fixed;
    // position: relative;

    &__img {
        width: 100%;
        aspect-ratio: 1440 / 600;
        object-fit: contain;
    }
}
.offers {
    @include adaptiveValue("padding-block-start", 141, 50);
    // .offers__container

    &__container {
    }

    // .offers__options

    &__options {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(30) toPercent(30, $maxWidthContainer);
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }

    // .offers__product-slot

    &__product-slot {
    }
    &__header {
        width: toPercent(813, $maxWidthContainer);
        margin: 0 auto;
        @media (max-width: $mobile) {
            width: 100%;
        }
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
    }
}

.product-slot {
    flex: 1 0 toPercent(665, $maxWidthContainer);
    min-width: toRem(280);
    min-height: toPercent(409, $maxWidthContainer);
    background: url("../img/offers/inactive-bg.jpg") center / cover no-repeat;
    overflow: hidden;
    transition: background-image 0.3s;
    @media (any-hover) {
        &:hover {
            background-image: url("../img/offers/active-bg.jpg");
            & .product-slot__price::after {
                background-color: #fff;
            }
            & .product-slot__price {
                color: $darkColor;
            }
        }
    }
    // .product-slot__body

    &__body-link {
        width: 100%;
        height: 100%;
        padding: toRem(40);
        display: flex;
        position: relative;
        @media (max-width: $mobile) {
            padding: toRem(20);
        }
    }

    // .product-slot__content

    &__content {
        flex: 0 0 toRem(278);
        padding: toRem(27) toRem(24) 0 0;
        display: flex;
        flex-direction: column;
        row-gap: toRem(40);
        position: relative;
        z-index: 2;
    }
    //product-slot section-header
    &__header {
        margin-top: auto;
        align-items: flex-start;
        row-gap: toRem(5);

        & .section-header__lables {
            &:not(:last-child) {
                margin-bottom: toRem(3);
            }
        }
    }

    // .product-slot__price

    &__price {
        font-family: "Cormorant Infant", serif;
        font-size: toRem(60);
        line-height: 1.1;
        color: $darkColor;
        position: relative;
        color: #fff;
        transition: color 0.3s;
        @media (max-width: $mobile) {
            margin-left: toRem(30);
        }

        &::after {
            content: "";
            width: toRem(167);
            height: toRem(104);
            background-color: #40464f;
            mask: url("../img/offers/inactive-decor.svg") center / contain no-repeat;
            position: absolute;
            top: toRem(-7);
            left: toRem(-40);
            z-index: 0;
            transition: background-color 0.3s;
        }
        & .product-slot__price-lable {
            font-family: "Josefin Sans", sans-serif;
            font-size: toRem(15);
            letter-spacing: toRem(0.15);
            text-transform: uppercase;
            position: absolute;
            left: 0;
            top: toRem(-5);
        }
        span {
            position: relative;
            z-index: 5;
            display: inline-block;
            min-width: toRem(80);
            text-align: center;
        }
    }

    // .product-slot__img-block

    &__img-block {
        align-self: center;
        width: fit-content;

        width: toPercent(307, 665);
        position: absolute;
        padding-inline-end: toRem(40);
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        display: flex;
        align-items: center;
    }

    // .product-slot__image

    &__image {
        object-fit: contain;
        aspect-ratio: 325 / 274;
        @media (max-width: $smallMobile) {
            opacity: 0.6;
            filter: blur(2px);
        }
    }
}

.popular {
    padding-block: toRem(120) toRem(140);

    // .popular__container

    &__container {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        row-gap: toRem(20);
    }

    // .popular__header

    &__header {
        width: toPercent(760, $maxWidthContainer);
        @media (max-width: $tablet) {
            width: 100%;
        }
    }

    // .popular__collection

    &__collection {
        width: 100%;
        padding-block: toRem(30) toRem(40);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: toRem(30);
    }

    // .popular__product

    &__product {
        flex: 0 0 toPercent(317.5, $maxWidthContainer);
        min-width: toRem(280);
        min-height: toRem(307);
    }
}

.popular-product {
    display: flex;
    flex-direction: column;
    row-gap: toRem(10);
    @media (max-width: $mobile) {
        flex-grow: 0.7;
    }
    // .popular-product__img-block

    &__img-block {
        width: 100%;
        // aspect-ratio: 318 /307;
    }
    //__img-link
    &__img-link {
        overflow: hidden;
        @media (any-hover) {
            &:hover .popular-product__image {
                transform: scale(1.05);
            }
        }
    }
    &__img-link,
    &__image {
        width: 100%;
        height: 100%;
    }
    // .popular-product__image

    &__image {
        object-fit: cover;
        object-position: center;
        aspect-ratio: 318 /307;
        transition: transform 0.3s;
    }

    // .popular-product__info

    &__info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: toRem(10);
    }

    // .popular-product__info-header

    &__info-header {
        font-family: "Cormorant Infant", serif;
        font-size: toRem(30);
        line-height: 1.4;
        color: $darkColor;
        display: flex;
        column-gap: toRem(10);
        &:has(.popular-product__title-link:hover) {
            text-shadow: $darkColor 0px 0px 1px;
        }
    }

    // .popular-product__title

    &__title {
        min-width: 50%;
        flex-grow: 1;
    }
    &__title-link {
        transition: text-shadow 0.3s;
    }

    // .popular-product__price

    &__price {
        flex: 1 1 toRem(43);
        text-align: end;
        transition: text-shadow 0.3s;
    }

    // .popular-product__description

    &__description {
        padding-block-start: toRem(15);
        border-top: toRem(1) solid #dcdcdc;
        flex: 0 1 toRem(75);
    }
}
.services {
    background-color: $darkColor;
    color: #fff;
    // .testimonial__container

    & .section-header > * {
        color: #fff;
    }
    // .services__container

    &__container {
        @include adaptiveValue("padding-block", 141, 50);
        display: flex;
        // flex-wrap: wrap;
        align-items: flex-start;
        gap: toRem(50) toPercent(100, $maxWidthContainer);
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    // .services__header

    &__header {
        flex: 1 1 toPercent(438, $maxWidthContainer);

        & .section-header {
            row-gap: toRem(6);
        }
        & .section-header__title:not(:last-child) {
            margin-bottom: toRem(7);
        }
        @media (max-width: $mobile) {
        }
    }

    // .services__service-list

    &__service-list {
        flex: 1 1 toPercent(822, $maxWidthContainer);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: toRem(30);
        @media (max-width: $tablet) {
            width: 100%;
        }
    }

    // .services__service-item

    &__service-item {
        flex: 0 1 toPercent(254, 822);
        min-width: toRem(200);
        aspect-ratio: 254 / 235;
        @media (max-width: $smallMobile) {
            flex-basis: 100%;
            height: max-content;
            aspect-ratio: 280/ 100;
        }
    }
}

.service {
    width: 100%;
    height: 100%;
    padding-inline: toRem(5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: toRem(15);
    border: toRem(20) solid #323841;
    & > *:first-child {
        margin-top: toRem(5);
    }
    @media (max-width: $smallMobile) {
        flex-direction: row;
        gap: toRem(25);
    }

    // .service__icon

    &__icon {
        width: toRem(60);
        height: toRem(60);
        // width: toPercent(60, 254);
        // height: toPercent(60, 235);
        aspect-ratio: 254 / 235;
        flex-shrink: 0;
    }

    // .service__name

    &__name {
        font-family: "Cormorant Infant", serif;
        // font-size: toRem(25);
        @include adaptiveValue("font-size", 25, 20);
        line-height: 1.4;
        text-transform: capitalize;
    }
}

.blog {
    // .blog__container

    &__container {
        @include adaptiveValue("padding-block-start", 140, 50);
        @include adaptiveValue("padding-block-end", 150, 50);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: toRem(40);
    }
    &__section-header {
        max-width: toRem(465);
        @media (max-width: $tablet) {
            max-width: 100%;
        }
    }

    // .blog__blogs

    &__blogs {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: toRem(50);
        & .blog-card {
            flex: 0 1 toPercent(640, $maxWidthContainer);
            min-width: toRem(280);
            @media (max-width: $tablet) {
                flex-grow: 0.5;
            }
            @media (max-width: $mobile) {
                flex-grow: 0.7;
            }
            @media (max-width: $smallMobile) {
                flex-grow: 1;
            }
        }
    }
}

.blog-card {
    display: flex;
    flex-direction: column;
    @media (any-hover) {
        &:hover .blog-card__img-wrapper::before {
            background: rgba(0, 0, 0, 0.33);
        }
    }

    // .blog-card__img-wrapper

    &__img-wrapper {
        width: 100%;
        aspect-ratio: 640 / 384;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: #dcdcdc;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.65);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            transition: background-color 0.5s;
        }
    }
    & .btn-link {
        text-transform: capitalize;
        position: relative;
        z-index: 2;
        @media (max-width: $smallMobile) {
            width: max-content;
        }
    }

    // .blog-card__img

    &__img {
        width: 100%;
        height: 100%;
        aspect-ratio: 640 / 384;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }

    // .blog-card__header

    &__header {
        flex-grow: 1;
        padding: toRem(50) toRem(46) toRem(38);
        row-gap: toRem(24);
        @media (max-width: $mobile) {
            padding: toRem(30);
        }
        @media (max-width: $smallMobile) {
            padding: toRem(20);
        }
        // .section-header__lables

        & .section-header__lables {
            display: flex;
            flex-wrap: wrap;
            gap: toRem(30);
            &:not(:last-child) {
                margin-bottom: toRem(2);
            }
        }

        // .section-header__label

        & .section-header__label {
        }

        // .section-header__title

        & .section-header__title {
            font-size: toRem(30);
            line-height: 1.3;
        }

        // .section-header__text

        & .section-header__text {
        }
    }
}

.reservation {
    position: relative;
    // .reservation__container

    &__container {
        @include adaptiveValue("padding-block", 140, 50);
        display: flex;
        justify-content: center;
    }

    // .reservation__body

    &__body {
        flex: 0 1 toPercent(920, $maxWidthContainer);
        min-width: toRem(280);
        // min-height: toRem(697);
        display: flex;
        flex-direction: column;
        row-gap: toRem(30);
        background: rgba(41, 46, 54, 0.95);
        position: relative;
        z-index: 2;
        @include adaptiveValue("padding", 140, 30);
        @media (max-width: $tablet) {
            flex-grow: 0.7;
        }
    }
    //reservation__img-bg
    &__img-bg {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    //reservation__img
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1440 / 977;
    }
    &__header {
        color: #fff;
        & .section-header__lables,
        & .section-header__title {
            color: inherit;
        }
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
    }
}

.reservation-form {
    font-size: toRem(22);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-end: toRem(15);
    row-gap: toRem(30);

    &__contacts,
    &__reservation-info {
        width: 100%;
        display: flex;
        // flex-wrap: wrap;
        gap: toRem(20);
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }

    &__contacts .reservation-form__input {
        width: toPercent(307, 640);
    }

    //reservation-form__reservation-info
    &__reservation-info .reservation-form__input {
        width: toPercent(198, 640);
    }
    .reservation-form__input {
        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    // .reservation-form__input

    &__input {
        border: 1px solid #858585;
        color: #fff;
        padding: toRem(18) toRem(25);
        position: relative;
        min-height: 3.18em;
        @media (max-width: toRem(1024)) {
            padding-inline: toRem(18);
        }

        &[type="time"],
        &[type="date"] {
            &::-webkit-calendar-picker-indicator,
            &::-webkit-calendar-picker-indicator {
                background: none;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                @media (min-width: $tablet) {
                    display: none;
                }
            }

            &:not(:focus)::-webkit-datetime-edit-fields-wrapper {
                opacity: 0;
            }
            &._has-value::-webkit-datetime-edit-fields-wrapper {
                opacity: 1;
            }

            &:not(._has-value):before {
                content: attr(placeholder);
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                padding: toRem(18) toRem(25);
                @media (max-width: toRem(1024)) {
                    padding-inline: toRem(18);
                }
            }
        }
    }

    // reservation-form__button
    &__button {
        @extend .btn-link;
        border-color: transparent;
        background-color: #fff;
        color: #000;
        padding-inline: toRem(54);
        @media (max-width: $tablet) {
            padding: toRem(10) toRem(30);
        }
    }
}
