$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1360;
$containerPadding: 10;
$containerWidth: $maxWidthContainer + $containerPadding;

$laptop: 1199.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;

$yellowColor:#E1B168;
$darkColor:#292E36;
