$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1360;
$containerPadding: 20;
$containerWidth: $maxWidthContainer + $containerPadding;

$laptop: 1199.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;

$yellowColor: #e1b168;
$darkColor: #292e36;
