@use "sass:math";
@import "fonts";
@import "reset";
@import "variables";
@import "mixins";

input {
    &:is(:autofill, :-webkit-autofill, :-webkit-autofill:hover, :-webkit-autofill:focus) {
        -webkit-box-shadow: 0 0 0 0px transparent inset !important;
        -webkit-text-fill-color: #fff !important;
        -webkit-background-clip: text !important;
        transition: background-color 5000s ease-in-out 0s;
    }
    &::placeholder {
        color: inherit;
        text-transform: capitalize;
    }
}
body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: toRem(20);
    line-height: 1.5;
    letter-spacing: toRem(0.2);
    color: $grayColor;
    &:has(.burger-menu--active) {
        overflow: hidden;
    }
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
.wrapper > main {
    flex-grow: 1;
}

[class$="__container"] {
    max-width: toRem($containerWidth);
    padding-inline: toRem(10);
    margin: 0 auto;
}

@import "common";
@import "header";
@import "main";
@import "footer";
